.venv
.idea

__cache__
__pycache__
__pycache__/*
migration
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.so
__pycache__/

# Django migrations
core/migrations/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
