{% extends "base.html" %} 
{% block title %} Webblog {% endblock title %} 
{% block content %} 
{% include "header.html" %} 
{% include "description.html" %}

<div class="blogs">
    <h1 class="title" style="padding-left: 3rem;">Posts for clicked tag</h1>
    {% for post in posts %}
        <article class="blog">
            <h3 class="title">{{ post.title }}</h3>
            <a href="{% url 'post_detail' post.slug %}" class="button">"Read More  →"</a>
        </article>
    {% endfor %}
    <!-- <a href="{% url 'home' %}" class="button home-button">Back to Home</a> -->
</div>

{% endblock content %}